<!DOCTYPE html>
<html>
<head>
  <title>Author videos</title>
</head>
<body>
<div class="container">

  <a href="<%= url('/') %>"><< Home</a>

  <h1><%= author.name %></h1>

  <p><strong>Email:</strong> <%= author.email %></p>

  <p><strong>Age:</strong> <%= author.age %></p>

  <p><strong>Website:</strong> <%= author.website %></p>

  <p><strong>Videos:</strong></p>

  <ul>
    <% author.videos.each do |video| %>
        <li>
          <%= partial(:"partials/video_item", :locals => {video: video}) %>
        </li>
    <% end %>
  </ul>

</div>
</body>
</html>