<ul>
  <% authors.each do |author| %>
      <li>
        <%= author.name %>
        (<%= link_to 'videos', "/authors/#{author.user_name}/videos" %>: <%= author.videos_count %>,
        <%= link_to 'articles', "/authors/#{author.user_name}/articles" %>: <%= author.articles_count %>)
        <% form_for author, "/authors/#{author.id}", method: :delete do |f| %>
            <%= f.submit("Delete", "/authors/#{author.id}") %>
            <%= link_to("Edit", "/authors/#{author.id}/edit") %>
        <% end %>
      </li>
  <% end %>
</ul>