<%= link_to 'Back', "/" %>
<br>
<%= link_to 'Create new video', "/videos/new" %>

<h1><%= author.name %></h1>

<p><strong>Email:</strong> <%= author.email %></p>

<p><strong>Age:</strong> <%= author.age %></p>

<p><strong>Website:</strong> <%= author.website %></p>

<p><strong>Videos:</strong></p>

<ul>
  <% author.videos.each do |video| %>
      <li>
        <p>
          <%= link_to video.title, "/video/#{video.slug}" %>
          <% form_for video, "/videos/#{video.id}", method: :delete do |f| %>
              <%= f.submit("Delete", "/videos/#{video.id}") %>
              <%= link_to("Edit", "/videos/#{video.id}/edit") %>
          <% end %>
        </p>
        <ul>
          <li>Created at: <%= video.created_at %></li>
          <li>Comments: <%= video.comments_count %></li>
        </ul>
      </li>
  <% end %>
</ul>