<%= link_to 'Back', "/" %>
<br>
<%= link_to 'Create new article', "/articles/new" %>

<h1><%= author.name %></h1>

<p><strong>Email:</strong> <%= author.email %></p>

<p><strong>Age:</strong> <%= author.age %></p>

<p><strong>Website:</strong> <%= author.website %></p>

<p><strong>Articles:</strong></p>

<ul>
  <% author.articles.each do |article| %>
      <li>
        <p>
          <%= link_to article.title, "/article/#{article.slug}" %>
          <% form_for article, "/articles/#{article.id}", method: :delete do |f| %>
              <%= f.submit("Delete", "/articles/#{article.id}") %>
              <%= link_to("Edit", "/articles/#{article.id}/edit") %>
          <% end %>
        </p>
        <ul>
          <li>Created at: <%= article.created_at %></li>
          <li>Comments: <%= article.comments_count %></li>
        </ul>
      </li>
  <% end %>
</ul>