<!DOCTYPE html>
<html>
<head>
  <title>Author articles</title>
</head>
<body>
<div class="container">

  <a href="<%= url('/') %>"><< Home</a>

  <h1><%= author.name %></h1>

  <p><strong>Email:</strong> <%= author.email %></p>

  <p><strong>Age:</strong> <%= author.age %></p>

  <p><strong>Website:</strong> <%= author.website %></p>

  <p><strong>Articles:</strong></p>

  <ul>
    <% author.articles.each do |article| %>
        <li>
          <p>
            <a href="<%= url('/article/' << article.slug) %>"><%= article.title %></a>
          </p>
          <ul>
            <li>Created at: <%= article.created_at %></li>
            <li>Comments: <%= article.comments_count %></li>
          </ul>
        </li>
    <% end %>
  </ul>

</div>
</body>
</html>