<%= link_to 'Back', "/authors/#{video.author.user_name}/videos" %>
<% form_for video, "/videos/#{video.id}", method: :delete do |f| %>
    <%= f.submit("Delete", "/videos/#{video.id}") %>
    <%= link_to("Edit", "/videos/#{video.id}/edit") %>
<% end %>
<h1><%= video.title %></h1>
<p><a href="<%= video.url %>" target="_blank">Source</a></p>
<p><b>Created at:</b> <%= video.created_at %></p>
<p><b>Description:</b> <%= video.description %></p>
<p><b>Comments:</b></p>
<ul>
  <% video.comments.each do |comment| %>
      <li>
        <p><b>Created at:</b> <%= comment.created_at %></p>

        <p><b>Content:</b> <%= comment.content %></p>
      </li>
  <% end %>
</ul>