<% if video.thumbnail %>
    <p><img src="<%= video.thumbnail %>"></p>
<% end %>

<p>
  <a href="<%= video.url %>" target="_blank"><%= video.title %></a>
</p>
<ul>
  <li>Created at: <%= video.published_at %></li>
  <li>Author: <%= video.author %></li>
  <li>Description: <%= video.description %></li>
  <li>Duration: <%= video.duration %></li>
  <li>Viewed: <%= video.view_count %></li>
  <li>Rating: <%= '%.2f' % video.rating %></li>
  <li>Categories: <%= video.categories.join(', ') %></li>
</ul>